body{
	background-color:green;
}
#Click{
	background-color:red;
	color:white;
	width:450px;
	height:500px;
	border-style:ridge;
	border-width:50px;	
	font-size:150px;
}
#Click1{
	width:206px;
	height:20px;
}